# Build Artifacts
*.egg-info/
build/
dist/

# Compiled Python Files
*.pyc
*.pyo
**/__pycache__/

# Documentation and MkDocs
.cache
site

# Jupyter Notebook
.ipynb_checkpoints/
notebooks/

# Logging
*.log
logs/

# Python Development
**/.mypy_cache/
**/.pytest_cache/
**/.ruff_cache/
htmlcov/

# System-Specific Files
.DS_Store

# Temporary Files
*~

# Testing
.benchmarks/
*coverage*
**/.nox/

# Virtual Environment
.env
**/.venv/

# VSCode Workspace Settings
.vscode/

# InnerAura/hyperweave
# .claude/
# CLAUDE.md
.env.example
